.order-page {
  max-width: 1300px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 50px;
}

.order-section {
  display: flex;
  gap: 20px;
}

.order-form {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  width: 100%;
}

.order-form form {
  flex: 1;
  padding-right: 20px;
  box-sizing: border-box;
}

.order-pizza {
  flex: 1;
  box-sizing: border-box;
  margin-right: 10px;
}

.order-pizza img {
  max-width: 100%;
  height: auto;
}

.order-pizza p{
  margin-top: 10px;
  text-align: center;
  line-height: 1.4;
  font-size: 1.1rem;
  font-weight: 300;
}

.order {
  width: 100%;
  margin-left: 5%;
  border-right: 1px solid #ccc;
}

.order h2 {
  padding: 20px;
}

h2 {
  font-family: var(--font-cursive);
  font-size: 40px;
  line-height: auto;
  font-weight: 400;
  color: var(--primary);
  text-align: center;
}

h2::after {
  content: "";
  display: inline-block;
  margin-left: 25px;
  width: 150px;
  height: 30px;
  background: conic-gradient(
    transparent 90deg,
    var(--primary) 90deg 180deg,
    transparent 180deg 270deg,
    var(--primary) 270deg
  );
  background-repeat: repeat;
  background-size: 30px 30px;
  background-position: top left;
}

.order form {
  display: flex;
  justify-content: space-between;
}

form > div:first-child {
  border-right: 1px solid #ccc;
}

form > div {
  padding: 15px;
  width: 100%;
}

form div {
  margin: 10px 0;
  text-align: center;
}

form > div > div > label {
  display: block;
  font-size: 20px;
  color: var(--secondary);
  margin-bottom: 10px;
  text-align: center;
  margin: 20px
}

form select {
  display: block;
  font-size: 16px;
  padding: 5px;
  margin-bottom: 30px;
  width: 100%;
}

form input[type="radio"] {
  display: none;
}

button,
input,
textarea {
  border: none;
  outline: none;
}

form input + label {
  height: 80px;
  width: 80px;
  border: 1px solid #999;
  background-color: #ccc;
  color: #999;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 15px 10px 15px;
}

form input:checked + label {
  color: #333;
  background-color: #fff;
}

button,
.index li a {
  border: 1px solid var(--primary);
  background-color: transparent;
  color: var(--primary);
  font-family: var(--font-cursive);
  font-size: 20px;
  padding: 5px 15px;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
}

.order-pizza {
  width: 100%;
}

form > div {
  padding: 15px;
  width: 100%;
}

form div {
  margin: 5px 0;
  text-align: center;
}

.pizza {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5;
}

.pizza h1 {
  font-weight: normal;
  color: var(--secondary);
  font-size: 25px;
}

.pizza p {
  margin-bottom: 5px;
  text-align: center;
}

.pizza img {
  max-width: 200px;
  border: 1px solid var(--border);
  border-radius: 5px;
}

.cart {
  border-left: 1px solid var(--border);
  line-height: 1.5;
  text-align: center;
  padding: 15px;
  
}

ul,
ol {
  list-style: none;
  line-height: 1.4;
  font-size: 1.1rem;
  font-weight: 300;
  padding-top: 15px;
}

.cart p {
  margin: 15px 0;
  line-height: 1.4;
  font-size: 1.1rem;
  font-weight: 300;
  padding: 15px;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 1.1rem;
  font-weight: 300;
}


.cart-item .delete {
  cursor: pointer;
  color: var(--primary);
  font-size: 1.3rem;
}

.success-message {
  text-align: center;
  padding: 20px;
  color: var(--secondary);
}

.success-message h3 {
  padding: 20px;
  font-family: var(--font-cursive);
  font-size: 24px;
}

.success-message p {
  padding: 20px;
  font-size: 18px;
  font-family: var(--font-cursive);
}


@media (max-width: 768px) {
  .order {
    border: none;
  }

  .order-form {
    flex-direction: column;
  }

  .order-pizza {
    margin-left: 0;
    margin-top: 20px;
  }
}
