.pizza-of-the-day {
  width: 60%;
  margin: 100px auto;
}

.pizza-of-the-day-wrapper {
  width: 100%;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.pizza-of-the-day > h2 {
  font-family: var(--font-cursive); 
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
  color: var(--primary); 
}

h2::after {
  content: "";
  display: inline-block;
  margin-left: 25px;
  width: 150px;
  height: 30px;
  background: conic-gradient(
    transparent 90deg,
    var(--primary) 90deg 180deg, 
    transparent 180deg 270deg,
    var(--primary) 270deg
  );
  background-size: 30px 30px;
}

.pizza-of-the-day-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  
}

.pizza-of-the-day-info {
  line-height: 1.3;
  text-align: center;
  flex: 1;
  font-size: 1.2rem;  
  font-weight: 300;  
}

.pizza-of-the-day-info h3 {
  font-size: 1.4em;  
  font-weight: 500;  
  margin-bottom: 10px;
  color: var(--secondary);

}

.pizza-of-the-day img {
  max-width: 200px;
  border-radius: 5px;
  border: 1px solid #ccc;
  object-fit: cover;
  margin-right: 20px;
}

@media (max-width: 768px) {
  .pizza-of-the-day-content {
    flex-direction: column;
    align-items: center;
  }

  .pizza-of-the-day-info {
    text-align: center;
  }
}
